table thead tr:hover{
    background-color: white;
    cursor: auto;
}

table tr:hover{
    background-color: rgba(128, 128, 128, 0.377);
    cursor: pointer;
}

.form-group{
    height: 90px;
    box-sizing: border-box;
}